#requirements.txt

fastapi
uvicorn
requests
sqlalchemy
psycopg2-binary
python-dotenv
google-generativeai
beautifulsoup4
tenacity
pyjwt
aiohttp
asyncpraw
newsapi-python
serpapi

deep-translator
playwright
praw
jsonschema
google-search-results
python-unsplash
pydantic